*{
    box-sizing: border-box;
}


fieldset {
    background-color: aliceblue;
    height: 25%;
    padding: 0;
}

fieldset > p{
    font-size: 35px;
    border-bottom: 2px solid;
    width: fit-content;
    border-radius: 35px;
}
.card>img{
    display: block;
    width: 90%;
    height: 40%;
    margin: 0px;
}
.card::after{
    content: "";
    clear: both;
    display: table;
}
.image_card{
    display: inline;
    padding: 20px;
    float: left;
    width: 20%;
    height: 10%;
    border-radius: 50px;
    margin: 3px;
}
.image{
    width: 320px;
}
div{
    background-color: darkgray;
    text-align: center;
}
.form{
    text-align: left;
}