*{
    box-sizing: border-box;
}
fieldset{
    background-color: grey;
    height: auto;
    padding: 0%;
}
.image-content {
    font-size: 35px;
    padding: 0;
}
.card > img {
    display: block;
    width: 100%;
    height: 50%;
    margin: 0px;
}
.card::after{
    content: "";
    clear: both;
    display: table;
    
}
.image_card{
    display: inline-flex;
    padding: 20px;
    float: left;
    width: 25%;
    height: auto;
    border-radius: 50px;
}
fieldset > p {
    font-size: 35px;
    background-color: aliceblue;
    width: fit-content;
    border-radius: 35px;
}


.image{
    width: 320px;
    /* height: auto; */
}


div{
    background-color: darkgray;
    text-align: center;
}
.form{
    text-align: left;
}