*{
    box-sizing: border-box;

}
body{
    background-color: chartreuse;
}

.button{
    text-decoration: none;
    background-color: aqua;
    width: fit-content;
}

a{
    text-decoration: none;
}

form{
    text-align: left;
    width: fit-content;
}