<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File</title>
</head>
<body>
    {% block content%}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
</form>

{% if file upload_file_url %}
<p>File upload at: <a href="{{ upload_file_url }}">{{ upload_file_url }}</a></p>
{% endif %}

<p><a href="{% url 'home' %}">Return to home</a></p>

    {% endblock %}
</body>
</html> -->